/* reset */
/* main variables */
body {
  margin: 0px;
  padding: 0px;
  font-family: Arial, sans-serif;
  background-color: #FFF;
  height: 100%;
  line-height: 1;
  position: relative;
  font-size: 13px !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

/*MAIN*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset,
form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer,
header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, main {
  display: block; }

blockquote, q {
  quotes: none; }

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-width: 0px;
  padding: 0px;
  margin: 0px; }

html {
  height: 100%;
  -webkit-text-size-adjust: none;
  -ms-text-size-adjust: none; }

input,
textarea {
  color: #333;
  font-family: Arial, sans-serif;
  outline: none;
  border-radius: 0; }

input[type="button"],
input[type="submit"],
button {
  cursor: pointer; }

td {
  margin: 0px;
  padding: 0px; }

form {
  padding: 0px;
  margin: 0px; }

a {
  transition: all 0.2s linear;
  text-decoration: none;
  outline: none;
  -webkit-tap-highlight-color: transparent;
  color: #000; }

a,
span,
div,
button {
  outline: none !important; }

input[type=submit],
input[type=button],
button {
  -webkit-appearance: none;
  outline: none; }

* {
  box-sizing: border-box; }

*:before,
*:after {
  box-sizing: border-box; }

.clearfix:after,
.wrapper:after,
.row:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden; }

/*
================================================================================
|                                     HEADER                                   |
================================================================================
*/
header {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row;
      flex-direction: row;
  -ms-flex-align: center;
      align-items: center;
  width: 100%;
  min-width: 320px;
  text-align: left;
  min-height: 100px;
  padding: 0 11px;
  box-sizing: border-box; }

/*
================================================================================
|                                     FOOTER                                   |
================================================================================
*/
footer {
  height: 80px;
  text-align: left;
  width: 100%;
  min-width: 320px;
  -ms-flex-order: 3;
      order: 3;
  -webkit-order: 3; }

* {
  font-family: 'Lato', sans-serif; }

body {
  background-color: #f3f3f3; }

.main-wrapper {
  padding: 0 0 0 0;
  width: 100%;
  margin: 0 auto;
  position: relative;
  overflow: hidden;
  min-height: 100%;
  display: -ms-flexbox;
  display: flex;
  flex-direction: column;
  -ms-flex-direction: column;
  justify-content: flex-start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start; }

.wrapper {
  width: 100%;
  min-width: 320px;
  max-width: 1200px;
  padding: 0 57px;
  margin: 0 auto;
  position: relative; }

/* titles */
p {
  font-size: 13px;
  line-height: 18px;
  color: #000;
  padding: 15px 0 15px 0;
  font-weight: 400; }

/* text position */
.text-left {
  text-align: left !important; }

.text-center {
  text-align: center !important; }

.text-right {
  text-align: right !important; }

.nowrap {
  white-space: nowrap !important; }

/* loader */
.loaded .main-wrapper {
  visibility: hidden; }

.icon-load {
  background: url(../img/loader.gif) no-repeat left top;
  width: 40px;
  height: 40px;
  position: fixed;
  left: 50%;
  top: 50%;
  margin-left: -20px;
  margin-left: -20px;
  display: none; }

.loaded .icon-load {
  display: block; }

/*
================================================================================
|                                     CONTENT                                 |
================================================================================
*/
.content {
  min-width: 320px;
  text-align: left;
  width: 100%;
  -ms-flex-order: 2;
      order: 2;
  -webkit-order: 2;
  -ms-flex-positive: 1;
      flex-grow: 1;
  -webkit-flex-grow: 1; }

@keyframes fadeIn {
  to {
    opacity: 1; } }

.fade-in {
  opacity: 0;
  animation: fadeIn .9s ease-out forwards; }

.is-paused {
  animation-play-state: paused; }

/* clock*/
.navbar {
  border-bottom: 2px solid #e3e1e1;
  background-color: #fff;
  padding: 15px 20px; }
  .navbar .buttons {
    display: -ms-flexbox;
    display: flex; }
  .navbar .switchMode {
    margin-right: 40px; }
  .navbar .alarm {
    float: right; }
  .navbar .container {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: justify;
        justify-content: space-between; }
  .navbar .navigation ul {
    list-style: none; }
    .navbar .navigation ul li {
      display: inline-block;
      margin-right: 10px; }
      .navbar .navigation ul li a {
        color: #1b232e; }

.dashboard {
  margin-bottom: 40px;
  margin-top: 40px; }
  .dashboard__item {
    display: inline-block;
    background-color: #fff;
    padding-right: 30px;
    margin-right: 40px;
    position: relative;
    height: 100%;
    font-size: 16px;
    border: 2px solid #e3e1e1;
    border-top: 0;
    border-left: 0; }
    .dashboard__item .icon {
      color: #FFF;
      font-size: 28px;
      min-height: 100%;
      display: inline-block;
      padding: 20px 30px;
      margin-right: 20px; }
      .dashboard__item .icon-orange {
        background-color: #F77D68; }
      .dashboard__item .icon-blue {
        background-color: #54BFE1; }

.clock {
  margin-bottom: 140px; }
  .clock h3 {
    font-size: 22px;
    margin-bottom: 20px;
    text-align: center;
    color: #2F3A4C; }
    .clock h3 svg {
      margin-right: 10px;
      color: #4f5968; }
  .clock .digital {
    display: -ms-flexbox;
    display: flex; }
    .clock .digital div[class$="-wrapper"] {
      position: relative;
      width: 340px;
      height: 140px;
      box-sizing: border-box;
      margin-right: 40px; }
    .clock .digital span {
      background-color: #fff;
      color: #4e555b;
      display: block;
      padding: 40px 0;
      width: 100%;
      height: 100%;
      font-size: 56px;
      text-align: center;
      border: 2px solid #e3e1e1;
      border-top: 0;
      font-family: 'Inconsolata', monospace; }
  .clock .analog div[class$="-wrapper"] {
    position: relative; }
  .clock .analog div {
    display: inline-block;
    margin-right: 40px; }

.deleteClock {
  position: absolute;
  right: 0;
  top: 0;
  display: block;
  width: 15px;
  height: 15px;
  cursor: pointer; }

.hidden {
  display: none !important; }

.analogClockTmp {
  display: none; }

.alarmPage {
  margin-top: 40px;
  max-width: 600px; }
  .alarmPage .clock {
    margin-bottom: 60px; }
    .alarmPage .clock .digital div[class$="-wrapper"] {
      position: relative;
      width: 250px;
      height: 100px;
      box-sizing: border-box;
      margin-right: 40px; }
    .alarmPage .clock .digital span {
      background-color: #fff;
      color: #4e555b;
      display: block;
      padding: 30px 0;
      width: 100%;
      height: 100%;
      font-size: 40px;
      text-align: center;
      border: 2px solid #e3e1e1;
      border-top: 0;
      font-family: 'Inconsolata', monospace; }

.alarmWrapper .addAlarmWrap {
  margin-bottom: 15px; }

.alarmWrapper input {
  width: 55px;
  display: inline-block;
  font-size: 16px; }

.alarmWrapper .addAlarm {
  display: inline-block;
  margin-left: 15px; }

.alarmWrapper .alarmListTable .timeSeparator {
  font-size: 18px; }

.alarmWrapper .alarmListTable .editInput {
  border: 0;
  background: transparent;
  width: 30px; }

.alarmWrapper .alarmListTable .editHours {
  padding: 3px 0px 3px 6px; }

.alarmWrapper .alarmListTable .editMinutes {
  padding: 3px 5px 3px 2px; }

.alarmWrapper .alarmListTable .bordered {
  border: 1px solid #c0c3c6; }

.alarmWrapper .alarmListTable a {
  cursor: pointer; }

.alarmWrapper .alarmListTable .edit {
  margin-left: 20px;
  margin-right: 20px; }

.alarmWrapper .notification {
  min-height: 40px;
  position: relative;
  font-size: 14px;
  box-sizing: border-box; }
  .alarmWrapper .notification .noAlarmsMsg {
    background: #eae9e9;
    padding: 12px 20px;
    color: #898888; }
  .alarmWrapper .notification .notifyMsg {
    /*position: absolute;*/ }
  .alarmWrapper .notification .alarmTrigger {
    background-color: #e7b2b2;
    font-size: 18px;
    color: #444242; }

.alarmWrapper .timeSeparator {
  font-size: 20px; }

.outer_face {
  position: relative;
  width: 250px;
  height: 250px;
  border-radius: 250px;
  background: white;
  box-shadow: inset 0 0 10px gray;
  border: 4px solid black; }

.outer_face::before, .outer_face::after, .outer_face .marker {
  content: "";
  position: absolute;
  width: 5px;
  height: 100%;
  background: black;
  z-index: 0;
  left: 50%;
  margin-left: -2.7px;
  top: 0; }

.outer_face::after {
  transform: rotate(90deg); }

.outer_face .marker {
  background: gray;
  width: 4px;
  margin-left: -2px; }

.outer_face .marker.oneseven {
  transform: rotate(30deg); }

.outer_face .marker.twoeight {
  transform: rotate(60deg); }

.outer_face .marker.fourten {
  transform: rotate(120deg); }

.outer_face .marker.fiveeleven {
  transform: rotate(150deg); }

.inner_face {
  position: relative;
  width: 88%;
  height: 88%;
  background: white;
  border-radius: 1000px;
  z-index: 1000;
  left: 6%;
  top: 6%; }

.inner_face::before {
  /* clock center circle small */
  content: "";
  width: 18px;
  height: 18px;
  border-radius: 18px;
  margin-left: -9px;
  margin-top: -9px;
  background: black;
  position: absolute;
  top: 50%;
  left: 50%;
  box-shadow: 0 0 30px gray; }

.inner_face::after {
  content: "QUARTZ";
  position: absolute;
  width: 100%;
  font: normal 0.5em Arial;
  color: gray;
  text-align: center;
  top: 85%; }

.hand, .hand.hour {
  position: absolute;
  width: 3px;
  height: 30%;
  top: 20%;
  left: 50%;
  margin-left: -2px;
  background: black;
  transform: rotate(0deg);
  transform-origin: bottom;
  z-index: -1;
  box-shadow: 0 0 3px gray; }

.hand.minute {
  height: 45%;
  top: 5%;
  width: 4px;
  margin-left: -3px; }

.hand.second {
  height: 50%;
  width: 2px;
  margin-left: -1px;
  top: 0;
  background: red; }

/*....*/
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  body {
    min-height: 100hv;
    width: 100%;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
        flex-direction: column; } }

@media screen and (max-width: 1200px) {
  .main-wrapper {
    padding: 0 15px; } }
