* {
	font-family: 'Lato', sans-serif;
}

body{
	background-color: #f3f3f3;

}

.main-wrapper{
	padding: 0 0 0 0;
	width: 100%;
	margin: 0 auto;
    position: relative;
	overflow: hidden;
	min-height:100%;
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	flex-direction:column;
    -webkit-flex-direction:column;
    -ms-flex-direction: column;
	justify-content:flex-start;	
    -webkit-justify-content:flex-start;	
    -ms-flex-pack: start;
}
.wrapper{
	width: 100%;
	min-width: $min-width;
	max-width: $max-width;
	padding: 0 57px;
	margin: 0 auto;
	position: relative;
}

/* titles */
p{
	@include font($base-font-size,$base-line-height,$text-color);
	padding: 15px 0 15px 0;
	font-weight: 400;
}

/* text position */
.text-left{text-align: left!important}
.text-center{text-align: center!important}
.text-right{text-align: right!important}
.nowrap{white-space: nowrap!important;}


/* loader */
.loaded .main-wrapper{visibility:hidden;}
.icon-load{background:url(../img/loader.gif) no-repeat left top;width:40px;height:40px;position:fixed;left:50%;top:50%;margin-left:-20px;margin-left:-20px;display:none;}
.loaded .icon-load{display:block;}


/*
================================================================================
|                                     CONTENT                                 |
================================================================================
*/
.content{	
	min-width: $min-width;
	text-align:left;
    width: 100%;
	order: 2;
    -webkit-order: 2;
	flex-grow: 1;
    -webkit-flex-grow: 1;
}

@keyframes fadeIn {
	to {
		opacity: 1;
	}
}

.fade-in {
	opacity: 0;
	animation: fadeIn .9s ease-out 1.3s forwards;
}

.is-paused {
	animation-play-state: paused;
}

/* clock*/

.navbar{
	border-bottom: 2px solid #e3e1e1;
	background-color: #fff;
	padding: 15px 20px;
	.buttons{
		display: flex;
	}
	.switchMode{
		margin-right: 40px;
	}
  .alarm{
    float: right;
  }
}

.dashboard{
	margin-bottom: 40px;
	margin-top: 40px;
	&__item{
		display: inline-block;
		background-color: #fff;
		padding-right: 30px;
		margin-right: 40px;
		position: relative;
		height: 100%;
		font-size: 16px;
		border: 2px solid #e3e1e1;
		border-top: 0;
		border-left: 0;

		.icon{
			color: #FFF;
			font-size: 28px;
			min-height: 100%;
			display: inline-block;
			padding: 20px 30px;
			margin-right: 20px;
			&-orange{
				background-color: #F77D68;
			}
			&-blue {
				background-color: #54BFE1;
			}
		}
	}
}

.clock{
  margin-bottom: 140px;
	h3{
		font-size: 22px;
		margin-bottom: 20px;
		text-align: center;
		color: #2F3A4C;

		svg{
			margin-right: 10px;
			color: #4f5968;
		}
	}
	.digital {
		display: flex;

		div[class$="-wrapper"]{
			position: relative;
			width: 340px;
			height: 140px;
			box-sizing: border-box;
			margin-right: 40px;
		}
		span{
			background-color: #fff;
			color: #4e555b;
			display: block;
			padding: 40px 0;
			width: 100%;
			height: 100%;
			font-size: 56px;
			text-align: center;
			border: 2px solid #e3e1e1;
			border-top: 0;
			font-family: 'Inconsolata', monospace;
		}
	}

	.analog{
		div[class$="-wrapper"]{
			position: relative;
		}
		div{
			display: inline-block;
			margin-right: 40px;
		}
	}

}

.deleteClock{
	position: absolute;
	right:0;
	top:0;
	display: block;
	width: 15px;
	height: 15px;
	cursor: pointer;

}

a.delete{
	display: block;
	width: 15px;
	height: 15px;
	cursor: pointer;
}

.hidden {
	display: none!important;
}
.analogClockTmp{
	display: none;
}

.alarmWrapper{
	input{
		width: 55px;
		display: inline-block;
	}

  .addAlarm{
	  display: inline-block;
	  margin-left: 15px;
  }
	.alarmListTable{
		margin-top: 40px;
	}
}

.outer_face {
	position: relative;
	width: 250px;
	height: 250px;
	border-radius: 250px;
	background: white;
	box-shadow: inset 0 0 10px gray;
	border: 4px solid black
}

.outer_face::before, .outer_face::after, .outer_face .marker {
	content: "";
	position: absolute;
	width: 5px;
	height: 100%;
	background: black;
	z-index: 0;
	left: 50%;
	margin-left: -2.7px;
	top: 0
}

.outer_face::after {
	-moz-transform: rotate(90deg);
	-ms-transform: rotate(90deg);
	-webkit-transform: rotate(90deg);
	transform: rotate(90deg)
}

.outer_face .marker {
	background: gray;
	width: 4px;
	margin-left: -2px
}

.outer_face .marker.oneseven {
	-moz-transform: rotate(30deg);
	-ms-transform: rotate(30deg);
	-webkit-transform: rotate(30deg);
	transform: rotate(30deg)
}

.outer_face .marker.twoeight {
	-moz-transform: rotate(60deg);
	-ms-transform: rotate(60deg);
	-webkit-transform: rotate(60deg);
	transform: rotate(60deg)
}

.outer_face .marker.fourten {
	-moz-transform: rotate(120deg);
	-ms-transform: rotate(120deg);
	-webkit-transform: rotate(120deg);
	transform: rotate(120deg)
}

.outer_face .marker.fiveeleven {
	-moz-transform: rotate(150deg);
	-ms-transform: rotate(150deg);
	-webkit-transform: rotate(150deg);
	transform: rotate(150deg)
}

.inner_face {
	position: relative;
	width: 88%;
	height: 88%;
	background: white;
	-moz-border-radius: 1000px;
	-webkit-border-radius: 1000px;
	border-radius: 1000px;
	z-index: 1000;
	left: 6%;
	top: 6%
}

.inner_face::before {
	/* clock center circle small */
	content: "";
	width: 18px;
	height: 18px;
	border-radius: 18px;
	margin-left: -9px;
	margin-top: -9px;
	background: black;
	position: absolute;
	top: 50%;
	left: 50%;
	box-shadow: 0 0 30px gray
}

.inner_face::after {
	content: "QUARTZ";
	position: absolute;
	width: 100%;
	font: normal 0.5em Arial;
	color: gray;
	text-align: center;
	top: 85%
}

.hand, .hand.hour {
	position: absolute;
	width: 3px;
	height: 30%;
	top: 20%;
	left: 50%;
	margin-left: -2px;
	background: black;
	-moz-transform: rotate(0deg);
	-ms-transform: rotate(0deg);
	-webkit-transform: rotate(0deg);
	transform: rotate(0deg);
	-moz-transform-origin: bottom;
	-ms-transform-origin: bottom;
	-webkit-transform-origin: bottom;
	transform-origin: bottom;
	z-index: -1;
	-moz-box-shadow: 0 0 3px gray;
	-webkit-box-shadow: 0 0 3px gray;
	box-shadow: 0 0 3px gray
}

.hand.minute {
	height: 45%;
	top: 5%;
	width: 4px;
	margin-left: -3px;
}

.hand.second {
	height: 50%;
	width: 2px;
	margin-left: -1px;
	top: 0;
	background: red
}


/*....*/

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
    body{min-height: 100hv; width: 100%; display: flex; flex-direction: column;}
}
@media screen and (max-width: 1200px) {
	.main-wrapper {
		padding: 0 15px;
	}
}

@media screen and (min-width: 992px){
	
}

@media screen and (max-width: 991px) {
	
}

@media screen and (min-width: 768px) and (max-width: 991px) {

}

@media screen and (max-width: 767px) {

}



