
/*
================================================================================
|                                     HEADER                                   |
================================================================================
*/
header{
	display: flex;
	flex-direction: row;
	align-items: center;
	width:100%;
	min-width: $min-width;
	text-align:left;
	min-height: 100px;
	padding: 0 11px;
	box-sizing: border-box;
}
